<%- include('partial/head') %> <%- include('partial/navbar') %>
<h1>All the catss</h1>
<ul>
  <% for(let cat of cats){ %>
  <li><%= cat %></li>
  <% } %>
</ul>
<%- include('partial/footer') %>
